%h1=layer[:name]
.row-fluid
  .span6
    %table.table
      - layer[:filters].each do |filter|
        %tr
          %td
            %pre
              %code
                #{filter.to_json}
  .span6
    %table.table
      %tr
        %td
          %pre
            %code
              #{layer[:query]}
          .text-right
            %a.btn{:href => "/editsql/#{layer[:name]}"}
              %i.icon-edit
              edit
      %tr
        %td
          %pre
            %code
              #{layer[:query_explain]}
%h2 Unnecessary rows
.row
  .span12
    %table.table
      - layer[:unnecessary_rows].each do |row|
        %tr
          %td
            %pre
              %code
                #{row.to_json}
